<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %>
    <%= f.text_field :departure %>
  </div>

  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :is_express %>
    <%= f.check_box :is_express %>
  </div>
  
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, :step => 0.1 %>
  </div>

  <!-- <div class="field">
    <%#= f.label :route_id %>
    <%#= f.text_field :route_id %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
