<%= form_for(ticket) do |f| %>
<% if ticket.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

  <ul>
    <% ticket.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group" style="display: none;">
  <%= f.label :user_id %>
  <%= f.text_field :user_id, :value => current_user.id, class: 'form-control' %>
</div>

<div class="form-group" style="display: none;">
  <%= f.label :trip_id %>
  <%= f.text_field :trip_id, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :"Trip Departure" %>
  <%= f.collection_select :trip_id, Trip.order(:departure), :id, :departure, include_blank: false, class: 'custom-select' %>
</div>

<div class="form-group">
  <%= f.label :ticket_status %>
  <%= f.collection_select :ticket_status_id, TicketStatus.order(:status), :id, :status, include_blank: false, class: 'custom-select' %>
</div>

<div class="actions">
  <%= f.submit class: 'btn btn-success btn-lg btn-block' %>
</div>
<% end %>
