<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.full_name %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @ticket.trip.departure+' - '+@ticket.trip.destination %>
</p>

<p>
  <strong>Ticket status:</strong>
  <%#= @ticket.ticket_status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
