<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">
    <img src="https://www.isogaisa.org/resources/TICKET.png?timestamp=1491594879438" width="30" height="30" class="d-inline-block align-top" alt="">Bus Tickets
  </a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= trips_path %>">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    
  <ul class="navbar-nav mr-right">

        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "#{current_user.full_name}", edit_user_registration_path, class: 'nav-link' %> 
        </li>   

        <li class="nav-item active">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %> 
        </li>        

        <% else %>

        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %> 
        </li>

        <li class="nav-item active">
          <%= link_to "Sign up", new_user_registration_path, class: 'nav-link'%>
        </li>

        <% end %>

      </ul>

  </div>
</nav>